body{
    background: url("/pictures/background/background_bureau.jpg") center;
    background-size: cover;
}

h1{
    color: #78586F;
}

h2{
    color: #78586F;
}

div{
    text-align: center;
}

button {
    display: inline-block;
    background-color: #6FD08C;
    border-radius: 10px;
    border: 4px double #FFFDF7;
    color: #FFFDF7;
    margin: 0 auto;
    font-size: 28px;
    padding: 20px;
    width: 400px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    background-color: #78586F;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

/* ------------------------------ pour le responsive --------------------------------*/

/*Pour tel*/
@media screen and (max-width: 480px){
    iframe{
        width: 300px;
        height: 200px;
    }
}

/*Pour tablette en mode portrait*/
@media screen and (min-width: 481px) and (max-width: 768px){
    iframe{
        width: 600px;
        height: 400px;
    }
}

/*Pour tablette en mode paysage*/
@media screen and (min-width: 769px) and (max-width: 1024px){
    iframe{
        width: 600px;
        height: 400px;
    }
}

/*Pour PC portable*/
@media screen and (min-width: 1025) and (max-width: 1600px){
    iframe{
        width: 600px;
        height: 400px;
    }
}

/*Pour PC avec tour*/
@media screen and (min-width: 1601px){
    iframe{
        width: 1180px;
        height: 664px;
    }
}

