body{
    background: url("../pictures/background_bureau.jpg") center;
    background-size: cover;
}

h1{
    color: #78586F;
}

h2{
    color: #78586F;
}

div{
    text-align: center;
}

button {
    display: inline-block;
    background-color: #6FD08C;
    border-radius: 10px;
    border: 4px double #FFFDF7;
    color: #FFFDF7;
    margin: 0 auto;
    font-size: 28px;
    padding: 20px;
    width: 400px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    background-color: #78586F;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
} 

.contenant{
    margin-bottom: 5%;
}