h1{
    color: #555e7b;
}

h2{
    text-align: left;
    color: #555e7b;
}

body{
    background: url("/pictures/background/background_enfant_du_personnel.jpg") center;
    background-size: cover;
}

p{
    text-align: left;
    color: #78586F;
}

#image_hopital{
    text-align: center;
}

div#image_hopital > img{
    max-height : 100%;
    width : auto;
    object-fit: cover;
}

ul.ul_list-inside > li{
    text-align: left;
    list-style: inside;
    list-style-position: inside;
    list-style-type: circle;
    font-size: 25px;
    color: #78586F;
}
