h1{
    color: #7ccce5;
}

h2{
    color: #7ccce5;
    text-align: left;
}

body{
    background: url("../pictures/background_escape_game.jpg") center;
    background-size: cover;
}

p{
    text-align: left;
    color: #7B9EA8;
}

.div_partie{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

ul.ul_list-inside > li{
    text-align: left;
    list-style: inside;
    list-style-position: inside;
    list-style-type: circle;
    font-size: 25px;
    color: #7B9EA8;
}

.contenant{
    margin-bottom: 5%;
    background:
    url("../pictures/fond_noir.jpg");

}
/* caroussel d'image */
div#slider > img{
    max-width : 100%;
    height : auto;
    width: 1200px;
    object-fit: cover;
}

#slider {
    position: relative;
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
}

#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 100px;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}