body{
    background: url("/pictures/background/background_hobbies.webp") center;
    background-size: cover;
}

h1{
    color: #78586F;
}

p{
    color: #78586F;
}

.href{
    color: #78586F;
}

.img_contain {
    max-height : 100%;
    object-fit: cover;
    height: 50vw;
    width: 50vw;
    
}

.div_img{
    text-align: center;
}

.div_partie{
    border-radius: 10px;
    background-color: 
    rgba(255, 255, 255, 0.90);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.div_partie > p {
    padding-left: 1vw;
    padding-right: 1vw;
}



/* ------------------------------------------------------- responsive ------------------------------------------------------ */

/*Pour tel*/
@media screen and (max-width: 549px){
    .div_partie > p {
        font-size: 15px;
    }
}


@media screen and (min-width: 550px) and (max-width: 699px){
    .div_partie > p {
        font-size: 20px;
    }

}

@media screen and (min-width: 700px) and (max-width: 800px){
    .div_partie > p {
        font-size: 25px;
    }

}

/*Pour PC portable*/
@media screen and (min-width: 801px) and (max-width: 1024px){
    .div_partie > p {
        font-size: 34px;
    }

}

