h1{
    color: #b576ad;
}

h2{
    color: #b576ad;
    text-align: left;
}

body{
    background: url("/pictures/background/background_IHM.jpg") center;
    background-size: cover;
}

p{
    text-align: left;
    color: #7B9EA8;
}

div#slider > img{
    max-width : 100%;
    height : auto;
    width: 1300px;
    object-fit: cover;
}

ul.ul_list-inside > li{
    text-align: left;
    list-style: inside;
    list-style-position: inside;
    list-style-type: circle;
    font-size: 25px;
    color: #7B9EA8;
}

.div_partie{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#div_texte{
    border-radius: 10px;
    background-color: 
    rgba(0, 0, 0, 0.65);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
/* caroussel d'image */

#slider {
    position: relative;
    width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
}

#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    font-size: 100px;
    color: rgba(220, 220, 220, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}