
body{
    background: url("/pictures/background/background_music.jpg") center;
    background-size: cover;
}

h1{
    color: #6FD08C;
}

p{
    color: #6FD08C;
}

.contenant{
    margin-bottom: 5%;
    text-align: center;
  }