body{
    background: url("/pictures/background/background_skill.png") center;
    background-size: cover;
}

h1{
    color: #CDDFA0;
}

p{
    color: #CDDFA0;
}

.contenant{
    text-align: center;
}

#texte{
    border-radius: 10px;
    background-color: 
    rgba(0, 0, 0, 0.7);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#fiche_jdr{
    width:70vw;
    height: auto;
}



/* ------------------------------ pour le responsive --------------------------------*/

/*Pour tel*/
@media screen and (max-width: 549px){
    #texte > p{
        font-size: 15px;
    }

}


@media screen and (min-width: 550px) and (max-width: 699px){

    #texte > p{
        font-size: 20px;
    }

}


@media screen and (min-width: 700px) and (max-width: 800px){


}


@media screen and (min-width: 801px) and (max-width: 1024px){

}

@media screen and (min-width: 1025px){

}

