body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #FFFDF7;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    text-align: center;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #0A2342;
    color: #FFFDF7;
}

li a:hover:not(.active) {
    background-color: #555;
    color: #FFFDF7;
}

.sous_menu {
    background-color: #2CA58D; 
    height: 4%;
    text-align: center;
}