h1{
    color: #eee0b7;
}

h2{
    color: #eee0b7;
    text-align: left;
}

body{
    background: url("/pictures/background/background_serveuse.jpg") center;
    background-size: cover;
}

p{
    text-align: left;
    color: #7B9EA8;
}

.div_partie{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#div_texte{
    border-radius: 10px;
    background-color: 
    rgba(0, 0, 0, 0.7);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}