h1{
    color: #eee0b7;
}

h2{
    color: #eee0b7;
    text-align: left;
}

body{
    background: url("../pictures/background/background_serveuse.jpg") center;
    background-size: cover;
}

p{
    text-align: left;
    color: #7B9EA8;
}

.div_partie{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.contenant{
    margin-bottom: 5%;
    background: url(../pictures/fond_noir.jpg);
}