h1{
    color: #fde47f;
}

h2{
    color: #fde47f;
    text-align: left;
}

body{
    background: url("../pictures/background_siteGuitare.jpg") center;
    background-size: cover;
}

p{
    text-align: left;
    color: #6FD08C;
}

ul.ul_list-inside > li{
    text-align: left;
    list-style: inside;
    list-style-position: inside;
    list-style-type: circle;
    font-size: 25px;
    color: #6FD08C;
}

.contenant{
    margin-bottom: 5%;
}

/* caroussel d'image */

div#slider > img{
    max-width : 100%;
    height : auto;
    width: 1000px;
    object-fit: cover;
}

#slider {
    position: relative;
    width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
}

#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    font-size: 100px;
    color: #fde47f;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}