h1{
    color: #fde47f;
}

h2{
    color: #fde47f;
    text-align: left;
}

body{
    background: url("../pictures/background/background_siteGuitare.jpg") center;
    background-size: cover;
}

p{
    text-align: left;
    color: #6FD08C;
}

ul.ul_list-inside > li{
    text-align: left;
    list-style: inside;
    list-style-position: inside;
    list-style-type: circle;
    font-size: 25px;
    color: #6FD08C;
}

.div_partie{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#div_texte{
    border-radius: 10px;
    background-color: 
    rgba(0, 0, 0, 0.65);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.contenant{
    margin-bottom: 5%;
}

/* caroussel d'image */

#slide{
    max-width : 100%;
    width: 1100px;  
    height : auto;
}

#slider {
    position: relative;
    width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
}

#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    font-size: 100px;
    color: #fde47f;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}