h1{
    color: #00dffc;
}

h2{
    color: #00dffc;
    text-align: left; 
}

body{
    background: url("/pictures/background/background_stageDUT.jpg") center;
    background-size: cover;
}

p{  
    text-align: left;
    color: #E6C79C;
}

ul.ul_list-inside > li{
    text-align: left;
    list-style: inside;
    list-style-position: inside;
    list-style-type: circle;
    font-size: 25px;
    color: #E6C79C;
}

.div_partie{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#div_texte{
    border-radius: 10px;
    background-color: 
    rgba(0, 0, 0, 0.7);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}


/* pour le boutton de téléchargemnt */

button {
    display: inline-block;
    background-color: #E6C79C;
    border-radius: 10px;
    border: 4px double #FFFDF7;
    color: #FFFDF7;
    margin: 0 auto;
    font-size: 28px;
    padding: 20px;
    width: 400px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    background-color: #00dffc;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
} 
