h1{
    color: #555152;
}

h2{
    color: #555152;
    text-align: left;
}

body{
    background: url("../pictures/background/background_stageL3.webp") center;
}

p{
    text-align: left;
    color: #78586F;
}

ul.ul_list-inside > li{
    text-align: left;
    list-style: inside;
    list-style-position: inside;
    list-style-type: circle;
    font-size: 25px;
    color: #78586F;
}

.contenant{
    margin-bottom: 5%;
}