h1{
    font-size: 50px;
    color: #fde47f;
    text-align: center;
    margin-top: 20px;
}

h2{
    font-size: 25px;
    color: #fde47f;
    margin-top: 20px;
    text-align: left;
}

body{
    background: url("../pictures/background_tutorat.jpg") center;
    background-size: cover;
}

p{
    text-align: left;
    font-size: 25px;
    color: #7B9EA8;
}

div#div-texte{
    text-align: center;
    display: inline-block;
    max-width: 75%;
}

ul.ul_list-inside > li{
    text-align: left;
    list-style: inside;
    list-style-position: inside;
    list-style-type: circle;
    font-size: 25px;
    color: #7B9EA8;
}