<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.1formatik.com/images/favicon/favicon-16x16.png">
    <title>
        Parcours
    </title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/mycareer.css">
    
      
  </head>

  <body>

    <header class="site-header">

      <nav>
        <ul class="menu">

          <li>
            <a href="/view/accueil.html">Accueil</a>
          </li>

          <li>
            A propos de moi
            <ul class="sub-menu">
              <li><a href="/view/aboutMe/myDescription.html">Mon portrait</a></li>
              <li><a href="/view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a href="/view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
          </li>

          <li>
            A propos de mon parcours
            <ul class="sub-menu">
              <li><a href="/view/school/mycareer.html">Mon parcours</a></li>
              <li><a href="/view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>
          </li>

          <li>
            <a href="/view/CV.html">Mon CV</a>
          </li>

        </ul>
      </nav>
    
    </header>   

    <main class="site-content">
          
      <h1>Mon parcours</h1>

      <div class="container">
        <div class="card-carousel">

          <div class="card" id="1">
            <div class="image-container"></div>

              <p>2012 – 2016</p>

              <p class="niv_etude">Collège</p>

              <p class="text_caroussel">J’ai été scolarisée au Collège Kervallon à Marcillac Vallon (12330) où j’ai validé mon brevet des collèges, mention bien en 2016.</p>
          </div>

          <div class="card" id="2">
            <div class="image-container"></div>

            <p>2017 – 2019</p>

            <p class="niv_etude">Lycée</p>

            <p class="text_caroussel">
              J’ai passé mes années lycées à Rodez dans celui de Ferdinand Foch. J’ai suivi une formation scientifique, 
              option musique avec comme langues: l’anglais et l’espagnol.
              J’ai eu mon Bac S SVT spécialité mathématique mention assez bien en 2019
            </p>
          </div>

          <div class="card" id="3">
            <div class="image-container"></div>

            <p>2020 – 2021</p>

            <p class="niv_etude">Etudes supérieures (DUT)</p>

            <p class="text_caroussel">J’ai eu mon DUT informatique à Montpellier (34000) en 2021.
              J’ai choisi de l’intégrer car je voulais découvrir le monde informatique puisque j’ai toujours les yeux devant un écran. 
              Je voulais donc savoir ce qui se cachait derrière tout cela.
            </p>

          </div>  

          <div class="card" id="4">
            <div class="image-container"></div>

            <p>2021 – 2022</p>

            <p class="niv_etude">Etudes supérieures (L3)</p>

            <p class="text_caroussel">Je suis actuellement en L3 informatique à l’université de La Rochelle (17400)</p>

          </div>

          <div class="card" id="5">
            <div class="image-container"></div>
            
            <p>2022 – </p>

            <p class="niv_etude">Etudes supérieures (Master)</p>

            <p class="text_caroussel">Je compte intégrer un Master en génie logiciel</p>

          </div>

        </div>
      </div>

    </main>

    <footer class="site-footer">

      <div class="footer-content contenant">

        <div class="div_footer"><p id="footer_text">Créé par Adèle Laurens</p> </div>

        <div class="div_footer">
            <a href="https://github.com/adele-laurens1/adele-laurens1.github.io" title= "github"><img src="/pictures/logo_github.png" width="30" height="30" alt="github" /></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/adele-laurens/" title= "linkedin"><img src="/pictures/logo_linkedin.png" width="30" height="30" alt="linkedin" /></a>
        </div>

      </div>
        
    </footer>

  </body>

</html>

<script src="/js/mycareer.js"></script>