<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.1formatik.com/images/favicon/favicon-16x16.png">
    <title>
      Projets & Expériences professionnelles
    </title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/project_professionalExperiences.css">
      
  </head>

  <body>

    <header class="site-header">

      <nav>
        <ul class="menu">

          <li>
            <a href="/view/accueil.html">Accueil</a>
          </li>

          <li>
            A propos de moi
            <ul class="sub-menu">
              <li><a href="/view/aboutMe/myDescription.html">Mon portrait</a></li>
              <li><a href="/view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a href="/view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
          </li>

          <li>
            A propos de mon parcours
            <ul class="sub-menu">
              <li><a href="/view/school/mycareer.html">Mon parcours</a></li>
              <li><a href="/view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>
          </li>

          <li>
            <a href="/view/CV.html">Mon CV</a>
          </li>

        </ul>
      </nav>
    
    </header>   

    <main class="site-content">

      <div class="contenant">

        <h1 style="font-size: 50px; color: #78586F;">Mes projets et expériences professionnelles</h1>
          
        <div id="flex-container" class="testimonials">
          <div id="left-zone">
            <ul class="list">

              <li class="item">
                <input type="radio" id="radio_testimonial-1" name="basic_carousel" checked="checked" />
                <label class="label_testimonial-1" for="radio_testimonial-1">Job d'été</label>
                <div class="content-test content_testimonial-1">
                  <span class="picto"></span>
                  <h1>Job d'été</h1>
                  <p>
                    J’ai travaillé en tant qu’enfant du personnel dans l’hôpital psychiatrique Sainte-Marie à Rodez. J’ai pu découvrir le monde du travail à travers cette expérience professionnelle qui m’a permise d’acquérir plus d’autonomie dans les tâches ménagères.</p>
                  <p class="testimonialFrom">5 août 2019 – 26 août 2019</p>
                  <p class="testimonialState">Hôpital psychiatrique Sainte-Marie à Rodez</p>
                  <a style="color:#555e7b" href="projects&Experiences/enfantDuPersonnel.html">Plus d'infos</a>
                </div>
              </li>

              <li class="item">
                <input type="radio" id="radio_testimonial-2" name="basic_carousel" />
                <label class="label_testimonial-2" for="radio_testimonial-2">Tutorat d’un étudiant de seconde</label>
                <div class="content-test content_testimonial-2">
                  <span class="picto"></span>
                  <h1>Tutorat d’un étudiant de seconde</h1>
                  <p>
                    J’ai fait du tutorat en mathématiques à un élève de seconde lorsque j’étais en terminale. 
                    On se retrouvait toutes les semaines le lundi dans une salle de cours et j’essayais de l’aider à faire ses 
                    devoirs ou réviser pour une prochaine évaluation.
                  </p>
                  <p class="testimonialFrom">Début décembre 2018 – Fin juin 2019</p>
                  <p class="testimonialState">Lycée Ferdinand Foch</p>
                  <a style="color:#b7d968" href="projects&Experiences/tutorat.html">Plus d'infos</a>
                </div>
              </li>

              <li class="item">
                <input type="radio" id="radio_testimonial-3" name="basic_carousel" />
                <label class="label_testimonial-3" for="radio_testimonial-3">Projet IHM</label>
                <div class="content-test content_testimonial-3">
                  <span class="picto"></span>
                  <h1>Projet IHM</h1>
                  <p>
                    Toute la classe a mené un projet afin de créer un escape game dans le thème des Simpson en java FX. 
                    Nous avons attribué une salle et une énigme à chaque sous-groupe. Il y en avait 5 de 4-5 personnes.
                  </p>
                  <p class="testimonialFrom">6 mai 2020 – 26 mai 2020</p>
                  <p class="testimonialState">Université de Montpellier</p>
                  <a style="color:#b576ad" href="projects&Experiences/IHM.html">Plus d'infos</a>
                </div>
              </li>

              <li class="item">
                <input type="radio" id="radio_testimonial-4" name="basic_carousel" />
                <label class="label_testimonial-4" for="radio_testimonial-4">Création d’un site internet</label>
                <div class="content-test content_testimonial-4">
                  <span class="picto"></span>
                  <h1>Création d’un site internet</h1>
                  <p>
                    Pour chaque groupe de la classe, nous avons créé un site internet concernant un club d’échecs. En tant que Product Owner (PO), 
                    je devais comprendre ce que voulait le client et restituer ma vision du projet à mon équipe. Nous travaillions sur le CMS Word Press.
                  </p>
                  <p class="testimonialFrom">mars 2020 – juin 2020</p>
                  <p class="testimonialState">Université de Montpellier</p>
                  <a style="color:#e04644" href="projects&Experiences/siteEchec.html">Plus d'infos</a>
                  <br>
                </div>
              </li>

              <li class="item">
                <input type="radio" id="radio_testimonial-5" name="basic_carousel" />
                <label class="label_testimonial-5" for="radio_testimonial-5">Projet PHP</label>
                <div class="content-test content_testimonial-5">
                  <span class="picto"></span>
                  <h1>Projet PHP</h1>
                  <p>
                    Notre groupe a créé un site de vente guitare. Nous devions répondre à
                    certaines attentes comme: gérer la connexion du client, le panier ainsi
                    que les commandes passées et la sécurité du site.
                  </p>
                  <p class="testimonialFrom">décembre 2020 – janvier 2021</p>
                  <p class="testimonialState">Université de Montpellier</p>
                  <a style="color:#fde47f" href="projects&Experiences/siteGuitare.html">Plus d'infos</a>
                  <br>
                </div>
              </li> 

              <li class="item">
                <input type="radio" id="radio_testimonial-6" name="basic_carousel" />
                <label class="label_testimonial-6" for="radio_testimonial-6">ProjetS3</label>
                <div class="content-test content_testimonial-6">
                  <span class="picto"></span>
                  <h1>ProjetS3</h1>
                  <p>
                    Notre groupe de 4 personne a créé un jeu sur InteliJ Idea en javaFX à l’aide d’un scene builder. 
                    Nous avons créé un scénario futuriste et engagé qui a servi de support à l’élaboration du jeu.
                  </p>
                  <p class="testimonialFrom">septembre 2020 – janvier 2021</p>
                  <p class="testimonialState">Université de Montpellier</p>
                  <a style="color:#7ccce5" href="projects&Experiences/escapeGame.html">Plus d'infos</a>
                  <br>
                </div>
              </li> 

              <li class="item">
                <input type="radio" id="radio_testimonial-7" name="basic_carousel" />
                <label class="label_testimonial-7" for="radio_testimonial-7">Stage de fin d’étude à l’IUT</label>
                <div class="content-test content_testimonial-7">
                  <span class="picto"></span>
                  <h1>Stage de fin d’étude à l’IUT</h1>
                  <p>
                    J’ai effectué mon stage de fin d’étude dans la start-up « Synerg-in » au Marché du Lez où j’ai participé à la conception d’un site web en Symfony.
                  </p>
                  <p class="testimonialFrom">6 avril – 28 mai 2021</p>
                  <p class="testimonialState">Le Marché du Lez, Montpellier</p>
                  <a style="color:#00dffc" href="projects&Experiences/stageDUT.html">Plus d'infos</a>
                  <br>
                </div>
              </li> 

              <li class="item">
                <input type="radio" id="radio_testimonial-8" name="basic_carousel" />
                <label class="label_testimonial-8" for="radio_testimonial-8">Serveuse</label>
                <div class="content-test content_testimonial-8">
                  <span class="picto"></span>
                  <h1>Serveuse</h1>
                  <p>Great company to send leads. Very efficient and pleased with the services. We get lots of leads and that whats important. Support is also great from the managers/support. Thanks YPC Chat</p>
                  <p class="testimonialFrom">1 juillet - 31 juillet 2021</p>
                  <p class="testimonialState">Le Parvis, Conques</p>
                  <a style="color:#eee0b7" href="projects&Experiences/serveuse.html">Plus d'infos</a>
                  <br>
                </div>
              </li> 

              <li class="item">
                <input type="radio" id="radio_testimonial-9" name="basic_carousel" />
                <label class="label_testimonial-9" for="radio_testimonial-9">Stage de fin d'étude en L3</label>
                <div class="content-test content_testimonial-9">
                  <span class="picto"></span>
                  <h1>Stage de fin d'étude en L3</h1>
                  <p>Great company to send leads. Very efficient and pleased with the services. We get lots of leads and that whats important. Support is also great from the managers/support. Thanks YPC Chat</p>
                  <p class="testimonialFrom">11 avril - 3 juin 2022</p>
                  <p class="testimonialState">Université de La Rochelle</p>
                  <a style="color:#555152" href="projects&Experiences/stageL3.html">Plus d'infos</a>
                  <br>
                </div>
              </li> 

            </ul>
          </div>
          <div id="right-zone"></div>
        </div>

      </div>
    </main>

    <footer class="site-footer">

      <div class="footer-content contenant">

        <div class="div_footer"><p id="footer_text">Créé par Adèle Laurens</p> </div>

        <div class="div_footer">
            <a href="https://github.com/adele-laurens1/adele-laurens1.github.io" title= "github"><img src="/pictures/logo_github.png" width="30" height="30" alt="github" /></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/adele-laurens/" title= "linkedin"><img src="/pictures/logo_linkedin.png" width="30" height="30" alt="linkedin" /></a>
        </div>

      </div>
        
    </footer>

  </body>

</html>

<script src="/js/project_professionalExperiences.js"></script>