<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" type="image/jpg" sizes="48x48" href="/pictures/icone_eportfolio.jpg">
    <title>
      Projets & Expériences professionnelles
    </title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/project_professionalExperiences.css">
      
  </head>

  <body>

    <header class="site-header">

      <nav id="nav_tel_tablette">
        <div id="mySidenav" class="sidenav">
          <a id="closeBtn" href="#" class="close">&times;</a>

          <ul>
            <li><a class="a_header" href="/view/accueil.html">Accueil</a></li>

            <li id="click_aboutme">
              A propos de moi
            </li>
            <ul id="sub-menu-aboutme">
              <li><a class="sub_a_header" href="/view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/hobbies.html">Mes centres d'intérêts, activités et loisirs</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
            

            <li id="click_school">
              A propos de mon parcours
            </li>
            <ul id="sub-menu-school">
              <li><a class="sub_a_header" href="/view/school/mycareer.html">Mon parcours</a></li>
              <li><a class="sub_a_header" href="/view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>

            <li>
              <a class="a_header" href="/view/CV.html">Mon CV</a>
            </li>
          </ul>

        </div>
        
        <div  id="div-span">
          <a href="#" id="openBtn">
            <span class="burger-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>
        </div>
      </nav>

      <nav id="nav_pc">
        <ul class="menu">

          <li>
            <a class="a_header" href="/view/accueil.html">Accueil</a>
          </li>

          <li>
            A propos de moi
            <ul class="sub-menu">
              <li><a class="a_header" href="/view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a class="a_header" href="/view/aboutMe/hobbies.html">Mes centres d'intérêts,activités et loisirs</a></li>
              <li><a class="a_header" href="/view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a class="a_header" href="/view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
          </li>

          <li>
            A propos de mon parcours
            <ul class="sub-menu">
              <li><a class="a_header" href="/view/school/mycareer.html">Mon parcours</a></li>
              <li><a class="a_header" href="/view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>
          </li>

          <li>
            <a class="a_header" href="/view/CV.html">Mon CV</a>
          </li>

        </ul>
      </nav>
    
    </header>

    <main class="site-content">

      <!-- à partir de 1145px, changer pour mettre autre chose -->

      <div class="contenant">

        <h1>Mes projets et expériences professionnelles</h1>

        
        <!-- Pour + de 1145 px : -->

        <div id="flex-container" class="testimonials">
          <div id="left-zone">
            <ul class="list">

              <li class="item">
                <input type="radio" id="radio_testimonial-1" name="basic_carousel" checked="checked" />
                <label class="label_testimonial-1" for="radio_testimonial-1">Enfant du personnel</label>
                <div class="content-test content_testimonial-1">
                  <span class="picto"></span>
                  <h3>Enfant du personnel</h3>
                  <p>
                    J’ai travaillé en tant qu’enfant du personnel dans l’hôpital psychiatrique Sainte-Marie à Rodez. 
                    J’ai pu découvrir le monde du travail à travers cette expérience professionnelle qui m’a permis d’acquérir plus d’autonomie dans les tâches ménagères.</p>
                  <p class="testimonialFrom">5 août 2019 – 26 août 2019</p>
                  <p class="testimonialState">Hôpital psychiatrique Sainte-Marie à Rodez</p>
                  <a target="_blank" style="color:#555e7b" href="projects&Experiences/enfantDuPersonnel.html">Plus d'infos</a>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </li>

              <li class="item">
                <input type="radio" id="radio_testimonial-2" name="basic_carousel" />
                <label class="label_testimonial-2" for="radio_testimonial-2">Tutorat d’un étudiant de seconde</label>
                <div class="content-test content_testimonial-2">
                  <span class="picto"></span>
                  <h3>Tutorat d’un étudiant de seconde</h3>
                  <p>
                    J’ai fait du tutorat en mathématiques à un élève de seconde lorsque j’étais en terminale. 
                    On se retrouvait chaque semaine le lundi dans une salle de cours et j’essayais de l’aider à faire ses 
                    devoirs ou réviser pour une prochaine évaluation.
                  </p>
                  <p class="testimonialFrom">Début décembre 2018 – Fin juin 2019</p>
                  <p class="testimonialState">Lycée Ferdinand Foch</p>
                  <a target="_blank" style="color:#b7d968" href="projects&Experiences/tutorat.html">Plus d'infos</a>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </li>

              <li class="item">
                <input type="radio" id="radio_testimonial-3" name="basic_carousel" />
                <label class="label_testimonial-3" for="radio_testimonial-3">Projet de classe IHM</label>
                <div class="content-test content_testimonial-3">
                  <span class="picto"></span>
                  <h3>Projet de classe IHM</h3>
                  <p>
                    Toute la classe a mené un projet afin de créer un escape game dans le thème des Simpson en java FX. 
                    Nous avons attribué une salle et une énigme à chaque sous-groupe. Il y en avait 5 de 4-5 personnes.
                  </p>
                  <p class="testimonialFrom">6 mai 2020 – 26 mai 2020</p>
                  <p class="testimonialState">Université de Montpellier</p>
                  <a target="_blank" style="color:#b576ad" href="projects&Experiences/IHM.html">Plus d'infos</a>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </li>

              <li class="item">
                <input type="radio" id="radio_testimonial-4" name="basic_carousel" />
                <label class="label_testimonial-4" for="radio_testimonial-4">Projet: site pour un club d'échecs</label>
                <div class="content-test content_testimonial-4">
                  <span class="picto"></span>
                  <h3>Projet: site pour un club d'échecs</h3>
                  <p>
                    Notre groupe a créé un site internet concernant un club d’échecs. En tant que Product Owner (PO), 
                    je devais comprendre ce que voulait le client et restituer ma vision du projet à mon équipe. Nous travaillions sur le CMS Word Press.
                  </p>
                  <p class="testimonialFrom">mars 2020 – juin 2020</p>
                  <p class="testimonialState">Université de Montpellier</p>
                  <a target="_blank" style="color:#e04644" href="projects&Experiences/siteEchec.html">Plus d'infos</a>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </li>

              <li class="item">
                <input type="radio" id="radio_testimonial-5" name="basic_carousel" />
                <label class="label_testimonial-5" for="radio_testimonial-5">Projet: site e-commerce de guitare</label>
                <div class="content-test content_testimonial-5">
                  <span class="picto"></span>
                  <h3>Projet: site e-commerce de guitare</h3>
                  <p>
                    Notre groupe a créé un site de vente guitare en PHP. Nous devions répondre à
                    certaines attentes comme: gérer la connexion du client, le panier ainsi
                    que les commandes passées et la sécurité du site.
                  </p>
                  <p class="testimonialFrom">décembre 2020 – janvier 2021</p>
                  <p class="testimonialState">Université de Montpellier</p>
                  <a target="_blank" style="color:#fde47f" href="projects&Experiences/siteGuitare.html">Plus d'infos</a>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </li> 

              <li class="item">
                <input type="radio" id="radio_testimonial-6" name="basic_carousel" />
                <label class="label_testimonial-6" for="radio_testimonial-6">Projet S3: "Cube Escape"</label>
                <div class="content-test content_testimonial-6">
                  <span class="picto"></span>
                  <h3>Projet S3: "Cube Escape"</h3>
                  <p>
                    Notre groupe de 4 personnes a créé un jeu sur IntelliJ IDEA en javaFX à l’aide d’un scene builder. 
                    Nous avons créé un scénario futuriste et engagé qui a servi de support à l’élaboration du jeu.
                  </p>
                  <p class="testimonialFrom">septembre 2020 – janvier 2021</p>
                  <p class="testimonialState">Université de Montpellier</p>
                  <a target="_blank" style="color:#7ccce5" href="projects&Experiences/escapeGame.html">Plus d'infos</a>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </li> 

              <li class="item">
                <input type="radio" id="radio_testimonial-7" name="basic_carousel" />
                <label class="label_testimonial-7" for="radio_testimonial-7">Stage de fin d’étude à l’IUT</label>
                <div class="content-test content_testimonial-7">
                  <span class="picto"></span>
                  <h3>Stage de fin d’étude à l’IUT</h3>
                  <p>
                    J’ai effectué mon stage de fin d’étude dans la start-up « Synerg-in » au Marché du Lez où j’ai participé à la conception d’un site web en Symfony.
                  </p>
                  <p class="testimonialFrom">6 avril – 28 mai 2021</p>
                  <p class="testimonialState">Le Marché du Lez, Montpellier</p>
                  <a target="_blank" style="color:#00dffc" href="projects&Experiences/stageDUT.html">Plus d'infos</a>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </li> 

              <li class="item">
                <input type="radio" id="radio_testimonial-8" name="basic_carousel" />
                <label class="label_testimonial-8" for="radio_testimonial-8">Serveuse</label>
                <div class="content-test content_testimonial-8">
                  <span class="picto"></span>
                  <h3>Serveuse</h3>
                  <p>
                    J’ai travaillé en tant que serveuse et barman dans un restaurant à Conques. 
                    J’ai pu apprendre à m’organiser, travailler ma mémoire et ma rapidité. J’ai dû faire face aux fortes cadences de travail ainsi qu’au stress.
                  </p>
                  <p class="testimonialFrom">1 juillet - 31 juillet 2021</p>
                  <p class="testimonialState">Le Parvis, Conques</p>
                  <a target="_blank" style="color:#eee0b7" href="projects&Experiences/serveuse.html">Plus d'infos</a>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </li> 

              <li class="item">
                <input type="radio" id="radio_testimonial-9" name="basic_carousel" />
                <label class="label_testimonial-9" for="radio_testimonial-9">Stage de fin d'étude en L3</label>
                <div class="content-test content_testimonial-9">
                  <span class="picto"></span>
                  <h3>Stage de fin d'étude en L3</h3>
                  <p>
                    Création d'un site web pour le <a href="https://l3i.univ-larochelle.fr/">laboratoire L3I</a>. 
                    Utilisation d'une BDD afin de sauvegarder les données des utilisateurs et des missions que les personnes du laboratoire vont effectuer.
                  </p>
                  <p class="testimonialFrom">11 avril - 3 juin 2022</p>
                  <p class="testimonialState">Université de La Rochelle</p>
                  <a target="_blank" style="color:#555152" href="projects&Experiences/stageL3.html">Plus d'infos</a>
                  <br>
                  <br>
                  <br>
                  <br>
        
                </div>
              </li> 

            </ul>
          </div>
          <div id="right-zone"></div>
        </div>




        <!-- Pour - de 1145 px : -->

        <div id="div_card">

          <div class="card">

            <div class="header_card">
              <p id="p_card_header_1">Enfant du personnel</p>
              <p class="time">5 août 2019 – 26 août 2019</p>
              <p class="place">Hôpital psychiatrique Sainte-Marie à Rodez</p>
            </div>

            <div class="body_card">
              <p>
                J’ai travaillé en tant qu’enfant du personnel dans l’hôpital psychiatrique Sainte-Marie à Rodez.
                J’ai pu découvrir le monde du travail à travers cette expérience professionnelle qui m’a permis d’acquérir 
                plus d’autonomie dans les tâches ménagères.
              </p>
            </div>

            <div class="footer_card">
              <a class="a_card" target="_blank" href="projects&Experiences/enfantDuPersonnel.html">Plus d'infos</a>
            </div>

          </div>






          <div class="card">

            <div class="header_card">
              <p id="p_card_header_2">Tutorat d’un étudiant de seconde</p>
              <p class="time">Début décembre 2018 – Fin juin 2019</p>
              <p class="place">Lycée Ferdinand Foch</p>
            </div>

            <div class="body_card">
              <p>
                J’ai fait du tutorat en mathématiques à un élève de seconde lorsque j’étais en terminale. On se retrouvait chaque semaine le lundi dans une salle de cours et j’essayais de l’aider à faire ses devoirs ou réviser pour une prochaine évaluation.
              </p>
            </div>

            <div class="footer_card">
              <a class="a_card" target="_blank" href="projects&Experiences/tutorat.html">Plus d'infos</a>
            </div>

          </div>


        





          <div class="card">

            <div class="header_card">
              <p id="p_card_header_3">Projet de classe IHM</p>
              <p class="time">6 mai 2020 – 26 mai 2020</p>
              <p class="place">Université de Montpellier</p>
            </div>

            <div class="body_card">
              <p>
                Toute la classe a mené un projet afin de créer un escape game dans le thème des Simpson en java FX. Nous avons attribué une salle et une énigme à chaque sous-groupe. Il y en avait 5 de 4-5 personnes.            </p>
            </div>

            <div class="footer_card">
              <a class="a_card" target="_blank" href="projects&Experiences/IHM.html">Plus d'infos</a>
            </div>

          </div>




          <div class="card">

            <div class="header_card">
              <p id="p_card_header_4">Projet: site pour un club d'échecs</p>
              <p class="time">mars 2020 – juin 2020</p>
              <p class="place">Université de Montpellier</p>
            </div>

            <div class="body_card">
              <p>
                Notre groupe a créé un site internet concernant un club d’échecs. En tant que Product Owner (PO), 
                je devais comprendre ce que voulait le client et restituer ma vision du projet à mon équipe. Nous travaillions sur le CMS Word Press.
              </p>
              
              </div>

            <div class="footer_card">
              <a class="a_card" target="_blank" href="projects&Experiences/siteEchec.html">Plus d'infos</a>
            </div>

          </div>


          <div class="card">

            <div class="header_card">
              <p id="p_card_header_5">Projet: site e-commerce de guitare
              </p>
              <p class="time">décembre 2020 – janvier 2021</p>
              <p class="place">Université de Montpellier</p>
            </div>

            <div class="body_card">
              <p>
                Notre groupe a créé un site de vente guitare en PHP. Nous devions répondre à certaines attentes comme: gérer la connexion du client, le panier ainsi que les commandes passées et la sécurité du site.
              </p>
              
              </div>

            <div class="footer_card">
              <a class="a_card" target="_blank" href="projects&Experiences/siteGuitare.html">Plus d'infos</a>
            </div>

          </div>




          <div class="card">

            <div class="header_card">
              <p id="p_card_header_6">Projet S3: "Cube Escape"</p>
              <p class="time">septembre 2020 – janvier 2021</p>
              <p class="place">Université de Montpellier</p>
            </div>

            <div class="body_card">
              <p>
                Notre groupe de 4 personnes a créé un jeu sur IntelliJ IDEA en javaFX à l’aide d’un scene builder. 
                      Nous avons créé un scénario futuriste et engagé qui a servi de support à l’élaboration du jeu.
              </p>
              
              </div>

            <div class="footer_card">
              <a class="a_card" target="_blank" href="projects&Experiences/escapeGame.html">Plus d'infos</a>
            </div>

          </div>



          <div class="card">

            <div class="header_card">
              <p id="p_card_header_7">Stage de fin d’étude à l’IUT</p>
              <p class="time">6 avril – 28 mai 2021</p>
              <p class="place">Le Marché du Lez, Montpellier</p>
            </div>

            <div class="body_card">
              <p>
                J’ai effectué mon stage de fin d’étude dans la start-up « Synerg-in » au Marché du Lez où j’ai participé à la conception d’un site web en Symfony.

              </p>
              
              </div>

            <div class="footer_card">
              <a class="a_card" target="_blank" href="projects&Experiences/stageDUT.html">Plus d'infos</a>
            </div>

          </div>




          <div class="card">

            <div class="header_card">
              <p id="p_card_header_8">Serveuse</p>
              <p class="time">1 juillet - 31 juillet 2021</p>
              <p class="place">Le Parvis, Conques</p>
            </div>

            <div class="body_card">
              <p>
                J’ai travaillé en tant que serveuse et barman dans un restaurant à Conques. 
                      J’ai pu apprendre à m’organiser, travailler ma mémoire et ma rapidité. J’ai dû faire face aux fortes cadences de travail ainsi qu’au stress.
              </p>
              
              </div>

            <div class="footer_card">
              <a class="a_card" target="_blank" href="projects&Experiences/serveuse.html">Plus d'infos</a>
            </div>

          </div>


          <div class="card">

            <div class="header_card">
              <p id="p_card_header_9">Stage de fin d'étude en L3</p>
              <p class="time">11 avril - 3 juin 2022</p>
              <p class="place">Université de La Rochelle</p>
            </div>

            <div class="body_card">
              <p>
                Création d'un site web pour le <a href="https://l3i.univ-larochelle.fr/">laboratoire L3I</a>. 
                      Utilisation d'une BDD afin de sauvegarder les données des utilisateurs et des missions que les personnes du laboratoire vont effectuer.
              </p>
              
              </div>

            <div class="footer_card">
              <a class="a_card" target="_blank" href="projects&Experiences/stageL3.html">Plus d'infos</a>
            </div>

          </div>





        </div>











      </div>
 









      </div>
    </main>

    <footer class="site-footer">

      <div class="footer-content">

        <div class="div_footer"><p id="footer_text">Créé par Adèle Laurens</p> </div>

        <div class="div_footer">
            <a href="https://github.com/adele-laurens1/adele-laurens1.github.io" title= "github"><img src="/pictures/logo_github.png" width="30" height="30" alt="github" /></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/adele-laurens/" title= "linkedin"><img src="/pictures/logo_linkedin.png" width="30" height="30" alt="linkedin" /></a>
        </div>

      </div>
        
    </footer>

  </body>

</html>

<script src="/js/project_professionalExperiences.js"></script>
<script src="/js/page.js"></script>