<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" sizes="48x48" href="/pictures/icone_eportfolio.jpg">
    <title>
        Musique
    </title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/music.css">
      
  </head>

  <body>

    <header class="site-header">

      <nav id="nav_tel_tablette">
        <div id="mySidenav" class="sidenav">
          <a id="closeBtn" href="#" class="close">&times;</a>

          <ul>
            <li><a class="a_header" href="/view/accueil.html">Accueil</a></li>

            <li id="click_aboutme">
              A propos de moi
            </li>
            <ul id="sub-menu-aboutme">
              <li><a class="sub_a_header" href="/view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/hobbies.html">Mes centres d'intérêts, activités et loisirs</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
            

            <li id="click_school">
              A propos de mon parcours
            </li>
            <ul id="sub-menu-school">
              <li><a class="sub_a_header" href="/view/school/mycareer.html">Mon parcours</a></li>
              <li><a class="sub_a_header" href="/view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>

            <li>
              <a class="a_header" href="/view/CV.html">Mon CV</a>
            </li>
          </ul>

        </div>
        
        <div  id="div-span">
          <a href="#" id="openBtn">
            <span class="burger-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>
        </div>
      </nav>

      <nav id="nav_pc">
        <ul class="menu">

          <li>
            <a class="a_header" href="/view/accueil.html">Accueil</a>
          </li>

          <li>
            A propos de moi
            <ul class="sub-menu">
              <li><a class="a_header" href="/view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a class="a_header" href="/view/aboutMe/hobbies.html">Mes centres d'intérêts,activités et loisirs</a></li>
              <li><a class="a_header" href="/view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a class="a_header" href="/view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
          </li>

          <li>
            A propos de mon parcours
            <ul class="sub-menu">
              <li><a class="a_header" href="/view/school/mycareer.html">Mon parcours</a></li>
              <li><a class="a_header" href="/view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>
          </li>

          <li>
            <a class="a_header" href="/view/CV.html">Mon CV</a>
          </li>

        </ul>
      </nav>
    
    </header>

    <main class="site-content">

      <div class="contenant">

        <h1>Une musique qui me représente</h1>
        
        <div id="video">
          <iframe width="1180" height="664" src="https://www.youtube.com/embed/Xt3m04Tscc8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
        </div>

        <div id="texte">
          <p>
            J’ai choisi cette musique car déjà, elle me remonte le moral dès que je l’entends. 
          </p>
          <p>
            De plus, les paroles me représentent beaucoup car on a toujours des mauvais moments à passer,
            des coups de blues, des choix difficiles à faire, que ça soit dans la semaine ou dans la journée
            (ex: oraux, partiels, etc.). Ces choix peuvent même changer une vie et sont souvent soumis à une deadline.
            Et pourtant, on est obligé de choisir, de faire nos épreuves afin d’avancer dans la vie. Et bien sûr, ça arrive de se planter totalement.
            Mais, comme dans la musique, il faut se relever et surmonter cette épreuve car ça arrive à tout le monde d’avoir des problèmes dans la vie,
            qu’on soit petit ou grand.
          </p>
          <p>
            Tout ce qu’il y a faire, c’est de trouver une manière de changer cette journée pour qu’elle soit meilleure: 
            en se faisant un petit goûter, en sortant prendre l’air ou en nettoyant notre chambre par exemple afin d’avoir une satisfaction personnelle
            qui égaie notre journée. On peut aussi demander de l’aide à des amis ou d’autres personnes proches.
          </p>
          <p>
          Il faut aussi se dire “Qu’importe” et continuer de l’avant. Puisque de toute façon on n’a pas le choix d’avancer, autant le faire bien, et avec le sourire.
          </p>
        </div>

      </div>
    </main>

    <footer class="site-footer">

      <div class="footer-content">

        <div class="div_footer"><p id="footer_text">Créé par Adèle Laurens</p> </div>

        <div class="div_footer">
            <a href="https://github.com/adele-laurens1/adele-laurens1.github.io" title= "github"><img src="/pictures/logo_github.png" width="30" height="30" alt="github" /></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/adele-laurens/" title= "linkedin"><img src="/pictures/logo_linkedin.png" width="30" height="30" alt="linkedin" /></a>
        </div>

      </div>
        
    </footer>

  </body>

</html>

<script src="/js/page.js"></script>