<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.1formatik.com/images/favicon/favicon-16x16.png">
    <title>
        Mes traits de personnalité
    </title>
    <link rel="stylesheet" href="../../css/page.css">
    <link rel="stylesheet" href="../../css/myPersonnality.css">
    <script src="../../js/navbar.js"></script>
    <script src="../../js/myPersonnality.js"></script>
      
  </head>

  <body>

    <header class="site-header">

      <nav>
        <ul class="menu">

          <li>
            <a href="../../view/accueil.html">Accueil</a>
          </li>

          <li>
            A propos de moi
            <ul class="sub-menu">
              <li><a href="../../view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a href="../../view/aboutMe/hobbies.html">Mes centres d'intérêts,activités et loisirs</a></li>
              <li><a href="../../view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a href="../../view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
          </li>

          <li>
            A propos de mon parcours
            <ul class="sub-menu">
              <li><a href="../../view/school/mycareer.html">Mon parcours</a></li>
              <li><a href="../../view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>
          </li>

          <li>
            <a href="../../view/CV.html">Mon CV</a>
          </li>

        </ul>
      </nav>
    
    </header>   

    <main class="site-content">

      <div class="contenant">

        <h1>Mes traits de personnalité</h1>
        
        <div id="nuageDeMot">
          <img src="../../pictures/nuageDeMot.png" alt="trait de personnalité">
        </div>

        <div id="div-texte">
          <p>
            Je pense pouvoir dire que tous ces traits de caractères me représentent. 
            Sur le dessin, plus le mot est gros, plus il est important et donc plus il me représente. 
            Ci-dessous, je vais vous donner des exemples qui complètent ces mots dans l'ordre.
          </p>
        </div>

        <div id="flex-container" class="testimonials">
          <div id="left-zone">
            <ul class="list">

              <li class="item">
                <input type="radio" id="radio_testimonial-1" name="basic_carousel" checked="checked" />
                <label class="label_testimonial-1" for="radio_testimonial-1">Autonome</label>
                <div class="content-test content_testimonial-1">
                  <h1>Autonome</h1>
                  <p>
                    Je suis indépendante. Je sais me gérer seule, prendre les devant lorsqu’il le faut et me lancer sans demander l’autorisation de quelqu’un.
                  </p>
                </div>
              </li>

              <li class="item">
                <input type="radio" id="radio_testimonial-2" name="basic_carousel" />
                <label class="label_testimonial-2" for="radio_testimonial-2">Timide</label>
                <div class="content-test content_testimonial-2">
                  <h1>Timide</h1>
                  <p>
                    Je suis une personne plutôt réservée. Je n'ose pas forcément m'imposer ni être le centre de l'attention.
                  </p>
                </div>
              </li>

              <li class="item">
                <input type="radio" id="radio_testimonial-3" name="basic_carousel" />
                <label class="label_testimonial-3" for="radio_testimonial-3">Calme</label>
                <div class="content-test content_testimonial-3">
                  <h1>Calme</h1>
                  <p>
                    J’aime beaucoup être tranquille chez moi à lire un bouquin, jouer à des jeux vidéos, regarder des vidéos ou juste ne rien faire. 
                    Je pense que c’est une caractéristique forte chez moi qui me permet d’analyser des situations de manière objective.
                  </p>
                </div>
              </li>

              <li class="item">
                <input type="radio" id="radio_testimonial-4" name="basic_carousel" />
                <label class="label_testimonial-4" for="radio_testimonial-4">Maniaque</label>
                <div class="content-test content_testimonial-4">
                  <h1>Maniaque</h1>
                  <p>
                    Si un travail n’est pas « parfait » – à mon sens – je suis capable d’y rester des heures juste pour le finir.
                    Je n’aime pas rendre des projets qui ont été baclés.
                  </p>
                </div>
              </li>

              <li class="item">
                <input type="radio" id="radio_testimonial-5" name="basic_carousel" />
                <label class="label_testimonial-5" for="radio_testimonial-5">Loyale</label>
                <div class="content-test content_testimonial-5">
                  <h1>Loyale</h1>
                  <p>
                    J’essaye d’être la plus fidèle possible avec les personnes auxquelles je tiens. 
                    Je n’ai pas envie d’avoir la sensation d’avoir brisé une relation ou d’avoir fait du mal à quelqu’un. 
                    C’est pour cela que je tiens à tenir mes engagements.
                  </p>
                </div>
              </li> 

              <li class="item">
                <input type="radio" id="radio_testimonial-6" name="basic_carousel" />
                <label class="label_testimonial-6" for="radio_testimonial-6">Carrée</label>
                <div class="content-test content_testimonial-6">
                  <h1>Carrée</h1>
                  <p>
                    Je suis une personne assez tranchée et honnête lorsque l'on me demande mon avis. Je n'aime pas forcément passer par 4 chemins.
                  </p>
                </div>
              </li> 

              <li class="item">
                <input type="radio" id="radio_testimonial-7" name="basic_carousel" />
                <label class="label_testimonial-7" for="radio_testimonial-7">Coopérative</label>
                <div class="content-test content_testimonial-7">
                  <h1>Coopérative</h1>
                  <p>
                    Lorsque je me retrouve dans un groupe, j’ai tendance à essayer de faire mon maximum afin de ne pas retarder le groupe. 
                    Je demande souvent aux personnes du groupe s’ils ont besoin que je fasse ou termine quelque chose afin de pouvoir les aider et ainsi avancer le projet en cours.
                  </p>
                </div>
              </li> 

              <li class="item">
                <input type="radio" id="radio_testimonial-8" name="basic_carousel" />
                <label class="label_testimonial-8" for="radio_testimonial-8">Attentive</label>
                <div class="content-test content_testimonial-8">
                  <h1>Attentive</h1>
                  <p>
                    Je suis le genre de personne qui écoute plus qu’elle ne parle. 
                    J’aime beaucoup écouter les histoires des autres et essayer de résoudre leurs problèmes.
                  </p>
                </div>
              </li> 

              <li class="item">
                <input type="radio" id="radio_testimonial-9" name="basic_carousel" />
                <label class="label_testimonial-9" for="radio_testimonial-9">Compréhensive</label>
                <div class="content-test content_testimonial-9">
                  <h1>Compréhensive</h1>
                  <p>
                    Je dirai que je suis ouverte d’esprit et capable d’analyser tous les points de vus que l’on me donne de manière assez objective. 
                    J'arrive assez facilement à me mettre à la place d'une autre personne. 
                  </p>
                </div>
              </li> 

            </ul>
          </div>
          <div id="right-zone"></div>
        </div>

      </div>

      </div>
    </main>

    <footer class="site-footer">

      <div class="footer-content contenant">

        <div class="div_footer"><p id="footer_text">Créé par Adèle Laurens</p> </div>

        <div class="div_footer">
            <a href="https://github.com/adele-laurens1/adele-laurens1.github.io" title= "github"><img src="../../pictures/logo_github.png" width="30" height="30" alt="github" /></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/adele-laurens/" title= "linkedin"><img src="../../pictures/logo_linkedin.png" width="30" height="30" alt="linkedin" /></a>
        </div>

      </div>
        
    </footer>

  </body>

</html>

