<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" sizes="48x48" href="/pictures/icone_eportfolio.jpg">
    <title>
        Compétences
    </title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/myskill.css">
      
  </head>

  <body>

    <header class="site-header">

      <nav id="nav_tel_tablette">
        <div id="mySidenav" class="sidenav">
          <a id="closeBtn" href="#" class="close">&times;</a>

          <ul>
            <li><a class="a_header" href="/view/accueil.html">Accueil</a></li>

            <li id="click_aboutme">
              A propos de moi
            </li>
            <ul id="sub-menu-aboutme">
              <li><a class="sub_a_header" href="/view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/hobbies.html">Mes centres d'intérêts, activités et loisirs</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
            

            <li id="click_school">
              A propos de mon parcours
            </li>
            <ul id="sub-menu-school">
              <li><a class="sub_a_header" href="/view/school/mycareer.html">Mon parcours</a></li>
              <li><a class="sub_a_header" href="/view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>

            <li>
              <a class="a_header" href="/view/CV.html">Mon CV</a>
            </li>
          </ul>

        </div>
        
        <div  id="div-span">
          <a href="#" id="openBtn">
            <span class="burger-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>
        </div>
      </nav>

      <nav id="nav_pc">
        <ul class="menu">

          <li>
            <a class="a_header" href="/view/accueil.html">Accueil</a>
          </li>

          <li>
            A propos de moi
            <ul class="sub-menu">
              <li><a class="a_header" href="/view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a class="a_header" href="/view/aboutMe/hobbies.html">Mes centres d'intérêts,activités et loisirs</a></li>
              <li><a class="a_header" href="/view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a class="a_header" href="/view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
          </li>

          <li>
            A propos de mon parcours
            <ul class="sub-menu">
              <li><a class="a_header" href="/view/school/mycareer.html">Mon parcours</a></li>
              <li><a class="a_header" href="/view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>
          </li>

          <li>
            <a class="a_header" href="/view/CV.html">Mon CV</a>
          </li>

        </ul>
      </nav>
    
    </header>
    
    <main class="site-content">

      <div class="contenant">

        <h1>Mes compétences</h1>
        <div id="texte">
          <p>Plutôt qu’un long discours, voici recensé mes compétences sous forme d’une fiche de jeu de rôle</p>
        </div>
        <img src="/pictures/myskill/fiche_jdr.png">

      </div>
      
    </main>

    <footer>

      <div class="footer-content">

        <div class="div_footer"><p id="footer_text">Créé par Adèle Laurens</p></div>

        <div class="div_footer">
            <a href="https://github.com/adele-laurens1/adele-laurens1.github.io" title= "github"><img src="/pictures/logo_github.png" width="30" height="30" alt="github" /></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/adele-laurens/" title= "linkedin"><img src="/pictures/logo_linkedin.png" width="30" height="30" alt="linkedin" /></a>
        </div>

      </div>
        
    </footer>

  </body>

</html>

<script src="/js/page.js"></script>