<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" sizes="48x48" href="../../../pictures/icone_eportfolio.jpg">
    <title>
        Enfant du Personnel
    </title>
    <link rel="stylesheet" href="../../../css/page.css">
    <link rel="stylesheet" href="../../../css/enfantDuPersonnel.css">
    <script src="../../../js/navbar.js"></script>
      
  </head>

  <body>

    <header class="site-header">

      <nav>
        <ul class="menu">

          <li>
            <a class="a_header" href="../../../view/accueil.html">Accueil</a>
          </li>

          <li>
            A propos de moi
            <ul class="sub-menu">
              <li><a class="a_header" href="../../../view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a class="a_header" href="../../../view/aboutMe/hobbies.html">Mes centres d'intérêts,activités et loisirs</a></li>
              <li><a class="a_header" href="../../../view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a class="a_header" href="../../../view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
          </li>

          <li>
            A propos de mon parcours
            <ul class="sub-menu">
              <li><a class="a_header" href="../../../view/school/mycareer.html">Mon parcours</a></li>
              <li><a class="a_header" href="../../../view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>
          </li>

          <li>
            <a class="a_header" href="../../../view/CV.html">Mon CV</a>
          </li>

        </ul>
      </nav>
    
    </header>

    <main class="site-content">

      <div class="contenant">

        <h1>Job d'été en tant qu'enfant du personnel</h1>

        <div id="image_hopital">
          <img src="../../../pictures/enfantDuPersonnel/hopital_sainte_marie.jpg">
        </div>

        <!-- Objectifs avant de travailler: -->
        <div>
          <h2>
            Mes objectifs avant de travailler dans cet hôpital: 
          </h2>
          <ul class="ul_list-inside">
            <li>Gagner de l'argent</li>
            <li>Décourvir le monde du travail</li>
            <li>Gagner en expérience et en maturité</li>
          </ul>
        </div>

        <!-- Contexte  -->
        <div>
          <h2>
            Contexte:
          </h2>
          <p>
            J’ai travaillé pendant trois semaines dans un hôpital psychiatrique. 
            C’était ma première expérience dans le milieu professionnel. 
            J’étais un peu stressée le premier jour mais le personnel – majoritairement féminin – travaillant dans mon secteur m’a énormément rassurée. 
            De plus, les patients étaient très accueillants ce qui m’a permis de bien m’intégrer.
          </p>

        </div>

        <!-- Journée type  -->
        <div>
          <h2>
            Une journée-type:
          </h2>
          <p>De 7h 45 à 8h 30</p>
          <ul class="ul_list-inside">
            <li>Nettoyer les toilettes, les bureaux, la salle de jeux et le salon</li>
            <li>Envoyer le linge sale à la laverie</li>
            <li>Changer les poubelles</li>
          </ul>

          <p>De 8h 30 à 9h 30: déjeuner des patients</p>
          <ul class="ul_list-inside">
            <li>Faire la plonge</li>
            <li>Apporter assiettes dans les chambres des patientes à mobilité réduites</li>
          </ul>

          <p>De 9h 30 à 12h</p>
          <ul class="ul_list-inside">
            <li>Nettoyer les chambres 1 à 20</li>
            <li>Mettre le four à chauffer avec les barquettes</li>
            <li>Couper le pain</li>
          </ul>

          <p>De 12h à 13h: repas de midi des patients</p>
          <ul class="ul_list-inside">
            <li>Idem que pour le déjeuner</li>
          </ul>

          <p>De 13h à 13h 30</p>
          <ul class="ul_list-inside">
            <li>Ranger les repas reçus pour les prochains jours ainsi que les réserves</li>
          </ul>

          <p>De 13h 30 à 14h 30: repas de midi du personnel</p>

          <p>De 14h 30 à 15h</p>
          <ul class="ul_list-inside">
            <li>Laver la cuisine</li>
            <li>Laver quelques chambres si on a le temps</li>
          </ul>

          <p>De 15h à 16h 15</p>
          <ul class="ul_list-inside">
            <li>Réunion</li>
            <li>Reçu du linge propre des patients</li>
            <li>Plier et ranger tout le linge: celui des patients, du personnel et tout le matériel que l’on utilise pour laver et faire une chambre</li>
          </ul>

        </div>

        <!-- Ce que j'ai aimé -->
        
        <div>
          <h2>
            Ce que j’ai aimé:
          </h2>

          <p>Le moment que je préférais était lorsque je pliais le linge car c’était le moment le plus tranquille de la journée et la salle où on le faisait sentait très bon</p>

          <p>Me sentir plus “adulte” car je travaillais avec des horaires fixes et je devais prendre la voiture tous les matins et soirs pour faire l’aller-retour</p>

          <p>Sentir que je m’améliorais dans ce que je faisais</p>
          <ul class="ul_list-inside">
            <li>Pour le linge, il y a des étagères où on met les habits pliés des patients. Il y a bien sûrs des étiquettes avec leurs noms et prénoms afin de les reconnaître. 
              Au début, j’avais beaucoup de mal à les retrouver mais au fur et à mesure, je posais presque automatiquement les vêtements à la bonne place</li>
            <li>Pour faire les chambres aussi, le temps de nettoyage diminuait fortement et j’arrivais ainsi à respecter les horaires demandés</li>
          </ul>

          <p>Etre proche avec des patients, communiquer avec eux</p>

          <p>Les matins et après-midis où tout le personnel se réunissait afin de discuter, rigoler</p>

        </div>

        <!-- Contraintes -->
        <div>
          <h2>
            Contraintes:
          </h2>

          <p>Faire 30 minutes de route pour chaque aller</p>
          <ul class="ul_list-inside">
            <li>Long, perte de temps le matin (j’aurais pu me lever plus tard sans ce trajet)</li>
            <li>Prise de risque (accidents)</li>
          </ul>

          <p>Il y a eu un jour où je n’ai pas pu redémarrer ma voiture car j’avais oublié d’éteindre les phares. J’imagine que tout le monde doit passer par là un jour dans sa vie</p>

          <p>Redondance du travail</p>

        </div>

        <!-- Ce que m'a apporté ce projet -->
        <div>
          <h2>
            Ce que m’a apporté ce projet:
          </h2>

          <p>Du plaisir car j’ai vraiment aimé faire cette expérience même si c’était difficile à certains moments (mal de dos dû au fait que je ne me baissais pas avec mes jambes)</p>

          <p>Avoir de la patiente car les patients me demandaient souvent de nettoyer leur chambre alors que j’étais déjà en train d’en laver une ou que je devais le faire l’après-midi</p>

          <p>Une attention particulière aux règles d’hygiène et de sécurité (commencer par ce qui est le moins sale, mettre des gants différents pour chaque chambre, enlever le fil de la poubelle, etc.)</p>

          <p>Une autonomie pour les tâches ménagères que je retrouve lorsque je suis dans mon appartement</p>

          <p>Les bases à savoir pour nettoyer une pièce</p>

          <p>Les bases des règles (hygiène, sécurité, confidentialité) en hôpital</p>

        </div>

      </div>
    </main>

    <footer class="site-footer">

      <div class="footer-content">

        <div class="div_footer"><p id="footer_text">Créé par Adèle Laurens</p> </div>

        <div class="div_footer">
            <a href="https://github.com/adele-laurens1/adele-laurens1.github.io" title= "github"><img src="../../../pictures/logo_github.png" width="30" height="30" alt="github" /></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/adele-laurens/" title= "linkedin"><img src="../../../pictures/logo_linkedin.png" width="30" height="30" alt="linkedin" /></a>
        </div>

      </div>
        
    </footer>

  </body>

</html>

