<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" sizes="48x48" href="../pictures/icone_eportfolio.jpg">
    <title>
        Projet S3 Escape Game
    </title>
    <link rel="stylesheet" href="../../../css/page.css">
    <link rel="stylesheet" href="../../../css/escapeGame.css">
    <script src="../../../js/navbar.js"></script>
    <script src="../../../js/escapeGame.js"></script>
      
  </head>

  <body>

    <header class="site-header">

      <nav>
        <ul class="menu">

          <li>
            <a class="a_header" href="../../../view/accueil.html">Accueil</a>
          </li>

          <li>
            A propos de moi
            <ul class="sub-menu">
              <li><a class="a_header" href="../../../view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a class="a_header" href="../../../view/aboutMe/hobbies.html">Mes centres d'intérêts,activités et loisirs</a></li>
              <li><a class="a_header" href="../../../view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a class="a_header" href="../../../view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
          </li>

          <li>
            A propos de mon parcours
            <ul class="sub-menu">
              <li><a class="a_header" href="../../../view/school/mycareer.html">Mon parcours</a></li>
              <li><a class="a_header" href="../../../view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>
          </li>

          <li>
            <a class="a_header" href="../../../view/CV.html">Mon CV</a>
          </li>

        </ul>
      </nav>
    
    </header>
    <main class="site-content">

      <div class="contenant">

        <h1>Projet S3: Création d'un jeu basé sur "Cube Escape"</h1>

        <div id="slider">
          <img src="../../../pictures/caroussel/escapeGame/caroussel_escapeGame_1.png" alt="La forêt de peupliers" id="slide">
          <div id="precedent" onclick="ChangeSlide(-1)"><</div>
          <div id="suivant" onclick="ChangeSlide(1)">></div>
        </div>

        <!-- Objectifs avant de travailler: -->
        
        <div class="div_partie">
          <h2>
            Mes objectifs avant de travailler de créer cet escape game: 
          </h2>
          <ul class="ul_list-inside">
            <li>Réutiliser les connaissances du projet IHM de l’année précédente afin de pouvoir les utiliser dans ce projet et même m’améliorer</li>
            <li>Travailler en équipe</li>
            <li>En apprendre plus en JavaFX, gitHub</li>
            <li>Arriver à vraiment être autonome pour un projet</li>
          </ul>
        </div>

        <!-- Contexte  -->
        <div class="div_partie">
          <h2>
            Contexte:
          </h2>
          <p>Pour ce projet, nous devions créer un jeu dans le style Cube Escape (jeu mobile) par équipe de 4</p>
          <p>Nous avons dû inventer tout le scénario du jeu qui devait être futuriste et où il devait y avoir une morale finale</p>
          <p>Nous avons ensuite dû coder tout ça en javaFX sur Intellij Idea. Nous avons aussi utilisé le scene builder</p>
          <p>Notre tuteur de projet devait aussi noter notre avancée afin de voir si nous partions dans la bonne direction ou non</p>
          <p>Nous avions aussi des cours de PPP où nous devions avancer notre rapport de projet</p>
        </div>

        <!-- Comment ça s'est passé  -->
        
        <div class="div_partie">
          <h2>
            Comment ça s'est passé ?
          </h2>
          <p>Nous avions un product backlog où nous mettions les story, donc toutes les tâches à faire pour le projet. Chaque personne en prenait une et travaillait dessus</p>
          <p>Nous avons fait des réunions avec les membres de l’équipe chaque semaines afin de travailler ensemble sur le code, discuter de nos problèmes, les résoudre etc.</p>
          <p>Nous faisions aussi des réunions avec le tuteur du projet presque chaque semaines ici aussi afin qu’il nous guide et voit notre avancée</p>
          <p>Nous avons aussi avancé sur le rapport de projet chaque semaines, fait des diagrammes, un rapport des réunions avec le tuteur</p>
        </div>

        <!-- Ce que j'ai aimé -->
        
        <div class="div_partie">
          <h2>
            Ce que j’ai aimé:
          </h2>

          <p>L’équipe était très agréable et tout le monde travaillait et s’entraidait. Ce qui me donnait envie d’en faire plus aussi</p>
          <p>Le projet en soit était intéressant et faisait parti de ceux que toute l’équipe voulait le plus. En effet, j’avais déjà jouer à ces jeux et je m’y connaissais. Donc devoir le coder était un plaisir</p>

        </div>

        <!-- Contraintes -->
        
        <div class="div_partie">
          <h2>
            Contraintes, ce que je n'ai pas aimé:
          </h2>
          <p>Le temps. Nous avions beaucoup de temps mais j’aurais vraiment aimé pouvoir le peaufiner au maximum. 
            Ce que nous n’avons pas pu faire car nous avions en cette période beaucoup d’autre projets à côté</p>
        </div>

        <!-- Ce que m'a apporté ce projet -->
        
        <div class="div_partie">
          <h2>
            Ce que m’a apporté ce projet:
          </h2>
          <p>Arriver à lier différents fmxl en sauvegardant un inventaire</p>
          <p> Arriver à généraliser au maximum une fonction</p>
          <p> Arriver à optimiser une fonction</p>
          <p> Mettre du son et des vidéos</p>
        </div>

      </div>
    </main>

    <footer class="site-footer">

      <div class="footer-content">

        <div class="div_footer"><p id="footer_text">Créé par Adèle Laurens</p> </div>

        <div class="div_footer">
            <a href="https://github.com/adele-laurens1/adele-laurens1.github.io" title= "github"><img src="../../../pictures/logo_github.png" width="30" height="30" alt="github" /></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/adele-laurens/" title= "linkedin"><img src="../../../pictures/logo_linkedin.png" width="30" height="30" alt="linkedin" /></a>
        </div>

      </div>
        
    </footer>

  </body>

</html>

