<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.1formatik.com/images/favicon/favicon-16x16.png">
    <title>
      Job d'été en tant que serveuse
    </title>
    <link rel="stylesheet" href="../../../css/page.css">
    <link rel="stylesheet" href="../../../css/serveuse.css">
    <script src="../../../js/navbar.js"></script>
      
  </head>

  <body>

    <header class="site-header">

      <nav>
        <ul class="menu">

          <li>
            <a href="../../../view/accueil.html">Accueil</a>
          </li>

          <li>
            A propos de moi
            <ul class="sub-menu">
              <li><a href="../../../view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a href="../../../view/aboutMe/hobbies.html">Mes centres d'intérêts,activités et loisirs</a></li>
              <li><a href="../../../view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a href="../../../view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
          </li>

          <li>
            A propos de mon parcours
            <ul class="sub-menu">
              <li><a href="../../../view/school/mycareer.html">Mon parcours</a></li>
              <li><a href="../../../view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>
          </li>

          <li>
            <a href="../../../view/CV.html">Mon CV</a>
          </li>

        </ul>
      </nav>
    
    </header>   

    <main class="site-content">

      <div class="contenant">

        <h1>Job d'été en tant que serveuse</h1>
        
        <!-- Objectifs avant de travailler: -->
        
        <div id="div-texte">
          <h2>
            Mes objectifs avant de travailler dans ce restaurant: 
          </h2>
          <p>Gagner de l'argent</p>
          <p>Découvrir le monde de la restauration</p>
        </div>

        <!-- Contexte  -->
        
        <div id="div-texte">
          <h2>
            Contexte:
          </h2>
          <p>
            J'ai travaillé pendant le mois de juillet en tant que serveuse/barman dans le restaurant "Le Parvis" à Conques.
            Je voulais vraiment découvrir ce métier car c'était un métier qui m'attirait beaucoup. 
            En effet, lorsque j'étais plus jeune, je jouais au jeu vidéo cooking dash et je voulais tester ce métier au moins une fois dans ma vie. 
          </p>
        </div>

        <!-- Journée type  -->
        
        <div id="div-texte">
          <h2>
            Une journée type:
          </h2>

          <p>Début de la journée à 9h</p>
          <p>Mise en place des tables, remplir les bouteilles d'eaux et couper le pain</p>
          <p>Début du service (plats) de 11h30 jusqu'à 14h30-15h</p>
          <p>Début du service (que les boissons) à partir de 15h</p>
          <p>Fin de la journée à 17h</p>
        </div>

        <!-- Ce que j'ai aimé -->
        
        <div id="div-texte">
          <h2>
            Ce que j’ai aimé:
          </h2>

          <p>J'ai pu découvrir ce métier qui m'attirait tant.</p>
          <p>J'ai rencontré des clients très gentils</p>

        </div>

        <!-- Contraintes -->
        
        <div id="div-texte">
          <h2>
            Contraintes, ce que je n'ai pas aimé:
          </h2>

          <p>Je ne m'attendais pas du tout à ce que j'ai eu. L'ambiance lors du rush était assez horrible (toutes les serveuses/serveurs se criaient dessus)</p>
          <p>L'autre collègue de travail qui était embochée avec moi pour le mois était plutôt insuportable</p>
          <p>Je n'ai pas du tout aimé l'ambiance ainsi que les sauts d'humeurs de certaines personnes dans le restaurant</p>

        </div>

        <!-- Ce que m'a apporté ce projet -->
        
        <div id="div-texte">
          <h2>
            Ce que m’a apporté ce job d'été:
          </h2>

          <p>J'ai appris à être plus rapide, organisée, dresser une table, appporter plusieurs plats en même temps, découvrir plusieurs type de boissons et donc faire le barman</p>
          <p>J'ai travaillé ma mémoire (pour retenir certains plats, ne pas oublier la monnaie etc.)</p>
          <p>Je sais que je ne referai plus de job d'été dans ce secteur car je n'ai pas du tout apprécié la manière dont certaines personnes m'ont traité/parlé</p>

        </div>

      </div>
    </main>

    <footer class="site-footer">

      <div class="footer-content contenant">

        <div class="div_footer"><p id="footer_text">Créé par Adèle Laurens</p> </div>

        <div class="div_footer">
            <a href="https://github.com/adele-laurens1/adele-laurens1.github.io" title= "github"><img src="../../../pictures/logo_github.png" width="30" height="30" alt="github" /></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/adele-laurens/" title= "linkedin"><img src="../../../pictures/logo_linkedin.png" width="30" height="30" alt="linkedin" /></a>
        </div>

      </div>
        
    </footer>

  </body>

</html>

