<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" sizes="48x48" href="/pictures/icone_eportfolio.jpg">
    <title>
        Projet Site Echec
    </title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/siteEchec.css">
      
  </head>

  <body>

    <header class="site-header">

      <nav id="nav_tel_tablette">
        <div id="mySidenav" class="sidenav">
          <a id="closeBtn" href="#" class="close">&times;</a>

          <ul>
            <li><a class="a_header" href="/view/accueil.html">Accueil</a></li>

            <li id="click_aboutme">
              A propos de moi
            </li>
            <ul id="sub-menu-aboutme">
              <li><a class="sub_a_header" href="/view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/hobbies.html">Mes centres d'intérêts, activités et loisirs</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
            

            <li id="click_school">
              A propos de mon parcours
            </li>
            <ul id="sub-menu-school">
              <li><a class="sub_a_header" href="/view/school/mycareer.html">Mon parcours</a></li>
              <li><a class="sub_a_header" href="/view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>

            <li>
              <a class="a_header" href="/view/CV.html">Mon CV</a>
            </li>
          </ul>

        </div>
        
        <div  id="div-span">
          <a href="#" id="openBtn">
            <span class="burger-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>
        </div>
      </nav>

      <nav id="nav_pc">
        <ul class="menu">

          <li>
            <a class="a_header" href="/view/accueil.html">Accueil</a>
          </li>

          <li>
            A propos de moi
            <ul class="sub-menu">
              <li><a class="a_header" href="/view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a class="a_header" href="/view/aboutMe/hobbies.html">Mes centres d'intérêts,activités et loisirs</a></li>
              <li><a class="a_header" href="/view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a class="a_header" href="/view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
          </li>

          <li>
            A propos de mon parcours
            <ul class="sub-menu">
              <li><a class="a_header" href="/view/school/mycareer.html">Mon parcours</a></li>
              <li><a class="a_header" href="/view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>
          </li>

          <li>
            <a class="a_header" href="/view/CV.html">Mon CV</a>
          </li>

        </ul>
      </nav>
    
    </header>

    <main class="site-content">

      <div class="contenant">

        <h1>Projet: création d'un site pour un club d'échec</h1>

        <div id="slider">
          <img src="/pictures/caroussel/siteEchec/caroussel_siteEchec_1.webp" id="slide">
          <div id="precedent" onclick="ChangeSlide(-1)"><</div>
          <div id="suivant" onclick="ChangeSlide(1)">></div>
        </div>

        <div id="div_texte">
          <div class="div_partie">

            <p>Au-dessus, j’ai mis des captures d’écran du site que mon équipe et moi avons créé avec la vue d’un adhérent du club « Lattes Echecs ». 
              Ils ont en effet accès à plus de pages qu’un visiteur car les tournois organisés par le club, les membres du club avec leurs pseudos sur 
              d’autres plateformes ainsi que les cours en direct et en différés ne sont accessibles qu’aux adhérents ayant payé une licence en début d’année 
              afin de s’inscrire au club.</p>

            <p>Il y a aussi une capture d’écran d’un storyboard sur git lab où sont recensés toutes les story que l’on doit faire, que l’on est en train de faire,
              que l’on a fait, qui ont été acceptées ou refusées par le client et celles qui sont finies. Les story sont des phrases simples rédigées dans 
              le langage de tous les jours. Elles permettent à l’équipe de décrire ce qui doit être ajouté dans le projet.</p>
              
            <p>En tant que Product Owner, je devais remplir ces story et mettre sa valeur (par rapport à l’importance du client).</p>
            
          </div>


          <!-- Objectifs avant de travailler: -->
          
          <div class="div_partie">
            <h2>
              Mes objectifs avant de créer ce site: 
            </h2>

            <p>Comprendre comment marche le CMS Word Press</p>
            <p>Avoir le site le plus rempli possible, qu’il y ait le plus de fonctionnalités possible</p>
            <p>Faire en sorte que l’équipe s’entende bien, coopère du mieux possible et avance de manière efficace</p>
            <p>En tant que Product Owner (PO):</p>
            <ul class="ul_list-inside">
              <li><span> Prendre des rendez-vous avec le client afin de comprendre ce qu’il attend de nous</span></li>
              <li><span>Faire comprendre à l’équipe ce que veut le client afin de répondre à ses besoins</span></li>
              <li><span>Analyser la valeur d’une story et la définir dans un tableau que l’on a fait sur git lab</span></li>
            </ul>
              
          </div>

          <!-- Contexte  -->
          
          <div class="div_partie">
            <h2>
              Contexte:
            </h2>

            <p>Le professeur joue le rôle du client.</p>
            <p>Le PO doit lui demander toutes les fonctionnalités qu’il désire</p>
            <p>Il transmet ensuite toutes ces informations aux développeurs (ici les personnes du groupe)</p>
            <p>Ensuite, le PO crée toutes le story sur le storyboard qui se trouve sur git lab (voir capture d’écran)
              pour le sprint concerné (sprint = ici, temps de 3 semaines au cours duquel l’équipe doit faire les story notées sur le storyboard)</p>
            <p>Chaque personne du groupe choisit une story et la fait</p>
            <p>On essaye de prendre le maximum de story notées et de toutes les finir pour le sprint</p>

          </div>

          <!-- Journée type  -->
          
          <div class="div_partie">
            <h2>
              Comment ça se passait ?
            </h2>

            <p>Chaque personne choisit sa story puis bosse dessus</p>
            <p>On fait tous notre travail de notre côté et si on a un problème, on demande de l’aide sur le groupe de gestion que l’on a créé sur Discord</p>
            <p>Je prends rendez-vous avec le client pour savoir ce qu’il veut, s’il y a des changements et pour vérifier les story déjà faites</p>
            <p>On fait des réunions tous les 3 jours afin de voir ce qui a été fait et ce que l’on compte faire</p>
            <p>A la fin de chaque sprint, on fait le point. On dit ce qui nous a plu, les points positifs et les points négatifs afin que le Scrum Master 
              puisse reporter toutes ces informations dans un rapport.</p>

          </div>

          <!-- Ce que j'ai aimé -->
          
          <div class="div_partie">
            <h2>
              Ce que j’ai aimé:
            </h2>

            <p>L’ambiance au sein du groupe était agréable</p>
            <ul class="ul_list-inside">
              <li><span>On essayait tous de s’entraider</span></li>
            </ul>

            <p>Je me suis améliorée dans mon rôle de PO</p>
            <p>Créer un site a été une bonne expérience, même si nous ne l’avons pas codé en PHP</p>
            <p>Apprendre à utiliser un CMS et voir la majorité des fonctionnalités le composant</p>
            <p>Voir comment se passe un projet (du moins une maquette de projet), les personnes le composant et leur rôle</p>
          </div>

          <!-- Contraintes -->
          
          <div class="div_partie">
            <h2>
              Contraintes, ce que je n’ai pas aimé:
            </h2>

            <p>Rôle de PO assez compliqué surtout au début</p>
            <ul class="ul_list-inside">
              <li><span>J’ai eu du mal à bien faire passer les informations donc on me le reprochait souvent</span></li>
              <li><span>Ce que je comprenais n’était pas forcément la bonne chose</span></li>
            </ul>

            <p>Un élève dans notre groupe ne travaillait pas et sur l’avis général du groupe, nous avons décidé qu’il devait partir</p>
            <ul class="ul_list-inside">
              <li><span>Il nous a demandé quelques jours avant le rendu du sprint de lui envoyer tous les documents alors que c’était déjà fait et que tout le monde avait commencé à travailler</span></li>
              <li><span>Il n’a pas participé à un travail de recherche qui était censé être fait en groupe. Il ne s’est même pas manifesté mais on lui a donné une deuxième chance au cas où</span></li>
              <li><span>On l’avait prévenu dès le début que s’il ne travaillait pas, on l’enlèverait du groupe car il avait comme réputation de ne pas bosser</span></li>
              <li><span>Il s’est plaint au professeur en amplifiant fortement ses propos voire pour certains mentir</span></li>
              <li><span>Il a ensuite insulté toute la classe et notamment une personne du groupe sur un groupe Snapchat pour ça</span></li>
            </ul>

            <p>Lorsque l’on faisait des réunions et que l’on devait attendre certaines personnes pendant longtemps car elles avaient oublié la réunion</p>
            <p>Lorsque l’on demandait à un autre groupe de la classe de nous aider, personne ne répondait</p>

          </div>

          <!-- Ce que m'a apporté ce projet -->
          
          <div class="div_partie">
            <h2>
              Ce que m’a apporté ce projet:
            </h2>

            <p>Avoir des responsabilités en tant que PO</p>
            <p>M’améliorer en communication afin de pouvoir faire comprendre aux autres ce que veut le client</p>
            <p>Apprendre à mieux travailler en équipe, à s’organiser</p>
            <p>Pouvoir identifier tous les bons et mauvais côtés du travail en équipe</p>

          </div>
          
        </div>

      </div>
    </main>

    <footer class="site-footer">

      <div class="footer-content">

        <div class="div_footer"><p id="footer_text">Créé par Adèle Laurens</p> </div>

        <div class="div_footer">
            <a href="https://github.com/adele-laurens1/adele-laurens1.github.io" title= "github"><img src="/pictures/logo_github.png" width="30" height="30" alt="github" /></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/adele-laurens/" title= "linkedin"><img src="/pictures/logo_linkedin.png" width="30" height="30" alt="linkedin" /></a>
        </div>

      </div>
        
    </footer>

  </body>

</html>

<script src="/js/siteEchec.js"></script>
<script src="/js/page.js"></script>