<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" sizes="48x48" href="/pictures/icone_eportfolio.jpg">
    <title>
        Stage DUT
    </title>
    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/stageDUT.css">
      
  </head>

  <body>

    <header class="site-header">

      <nav id="nav_tel_tablette">
        <div id="mySidenav" class="sidenav">
          <a id="closeBtn" href="#" class="close">&times;</a>

          <ul>
            <li><a class="a_header" href="/view/accueil.html">Accueil</a></li>

            <li id="click_aboutme">
              A propos de moi
            </li>
            <ul id="sub-menu-aboutme">
              <li><a class="sub_a_header" href="/view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/hobbies.html">Mes centres d'intérêts, activités et loisirs</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a class="sub_a_header" href="/view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
            

            <li id="click_school">
              A propos de mon parcours
            </li>
            <ul id="sub-menu-school">
              <li><a class="sub_a_header" href="/view/school/mycareer.html">Mon parcours</a></li>
              <li><a class="sub_a_header" href="/view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>

            <li>
              <a class="a_header" href="/view/CV.html">Mon CV</a>
            </li>
          </ul>

        </div>
        
        <div  id="div-span">
          <a href="#" id="openBtn">
            <span class="burger-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>
        </div>
      </nav>

      <nav id="nav_pc">
        <ul class="menu">

          <li>
            <a class="a_header" href="/view/accueil.html">Accueil</a>
          </li>

          <li>
            A propos de moi
            <ul class="sub-menu">
              <li><a class="a_header" href="/view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a class="a_header" href="/view/aboutMe/hobbies.html">Mes centres d'intérêts,activités et loisirs</a></li>
              <li><a class="a_header" href="/view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a class="a_header" href="/view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
          </li>

          <li>
            A propos de mon parcours
            <ul class="sub-menu">
              <li><a class="a_header" href="/view/school/mycareer.html">Mon parcours</a></li>
              <li><a class="a_header" href="/view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>
          </li>

          <li>
            <a class="a_header" href="/view/CV.html">Mon CV</a>
          </li>

        </ul>
      </nav>
    
    </header>

    <main class="site-content">

      <div class="contenant">

        <h1>Stage de fin d'étude en DUT</h1>

        <!-- Objectifs avant de travailler: -->
        
        <div id="div_texte">
          <div class="div_partie">
            <h2>
              Mes objectifs avant ce stage:
            </h2>

            <p>Utiliser toutes mes connaissances acquises lors de mon année à l’IUT de Montpellier afin d’aider et d’être utile à l’entreprise.</p>
            <p>M’entrainer pour les entretiens.</p>
            <p>Travailler en équipe dans une entreprise.</p>
            <p>En apprendre plus en PHP, JS, HTML/CSS et pourquoi pas en mobile aussi.</p>
            <p>Voir l’organisation d’une entreprise et les outils utilisés à son application</p>

          </div>

          <!-- Contexte  -->
          
          <div class="div_partie">
            <h2>
              Contexte:
            </h2>

            <p>J'ai effectué mon stage de fin d'étude de DUT dans l'agence Synerg-in à Montpellier.</p>
            <p>On m'a attribué plusieurs missions mais la principale à été de paticiper à un projet Symfony.</p>
            <p>J'ai aussi participé à d'autres petites missions comme:</p>
            <ul class="ul_list-inside">
              <li>Créer un appel API vers Stripe afin d’automatiser des transactions sur un site</li>
              <li>Travailler sur une application mobile et faire en sorte d’afficher des messages prévenant la fermeture des magasins</li>
              <li>Mettre en place des carrousels sur le site « Synerg-in » via Visual Builder</li>
              <li>Modifier du CSS sur plusieurs sites</li>
            </ul>
          </div>

          <!-- Journée type  -->
          
          <div class="div_partie">
            <h2>
              Comment ça se passait ?
            </h2>

            <p>Au niveau organisation de l’entreprise:</p>
            <ul class="ul_list-inside">
              <li>réunions entre membres côté informatique 2 fois par semaines</li>
              <li>communication par Teams</li>
              <li>utilisation d’Asana comme Product Backlog pour se partager les tâches à faire</li>
            </ul>

            <p>J’ai eu une formation Symfony afin d’être opérationnelle le plus rapidement possible sur le projet</p>
            <p>Le PO nous expliquait ce qu’il fallait faire et nous décidions d’une stratégie afin d’appliquer la demande du client</p>

          </div>

          <!-- Ce que j'ai aimé -->
          
          <div class="div_partie">
            <h2>
              Ce que j’ai aimé:
            </h2>

            <p>L’équipe était très agréable et tout le monde travaillait et s’entraidait. Ce qui me donnait envie d’en faire plus aussi</p>
            <p>Le projet principal était intéressant et m’a permis d’apprendre à utiliser Symfony</p>
            <p>Avoir une visualisétion d'un projet mobile et y participer</p>
            <p>Voir comment une entreprise fonctionne, les outils qu’elle utilise</p>

          </div>

          <!-- Contraintes -->
          
          <div class="div_partie">
            <h2>
              Contraintes, ce que je n’ai pas aimé:
            </h2>

            <p>Le temps pour finir certaines missions</p>
            <p>Le manque de connaissance dans certains domaines qui ne m’a pas permis de réaliser la mission qui m’était demandé</p>
            <p>C'est dommage car j'ai beaucoup travaillé en distanciel mais nous n'y pouvions rien</p>

          
          </div>

          <!-- Ce que m'a apporté ce projet -->
          
          <div class="div_partie">
            <h2>
              Ce que m’a apporté ce projet:
            </h2>

            <p>Savoir utiliser Symfony</p>
            <p>Utiliser des Hook via PrestaShop</p>
            <p>Utiliser FileZilla</p>
            <p>Créer une petite application mobile via Flutter</p>
            <p>Utiliser Visual Builder via WordPress</p>
            <p>Reflexes utiles en entreprise</p>
            <p>Expérience professionnelle enrichissante</p>

          </div>

          <div class="div_partie">
            <h2>Voici mon rapprot de stage pour plus de précisions:</h2>
            <div>
              <a href="/documents/rapport_de_dtage_DUT.pdf" download="Rapport_de_stage">
                <button type="button"><span>Télécharger mon rapport de stage</span></button>
              </a>
            </div>
          </div>

        </div>
      </div>
    </main>

    <footer class="site-footer">

      <div class="footer-content">

        <div class="div_footer"><p id="footer_text">Créé par Adèle Laurens</p> </div>

        <div class="div_footer">
            <a href="https://github.com/adele-laurens1/adele-laurens1.github.io" title= "github"><img src="/pictures/logo_github.png" width="30" height="30" alt="github" /></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/adele-laurens/" title= "linkedin"><img src="/pictures/logo_linkedin.png" width="30" height="30" alt="linkedin" /></a>
        </div>

      </div>
        
    </footer>

  </body>

</html>

<script src="/js/page.js"></script>