<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/jpg" sizes="48x48" href="../pictures/icone_eportfolio.jpg">
    <title>
        Tutorat
    </title>
    <link rel="stylesheet" href="../../../css/page.css">
    <link rel="stylesheet" href="../../../css/tutorat.css">
    <script src="../../../js/navbar.js"></script>
      
  </head>

  <body>

    <header class="site-header">

      <nav>
        <ul class="menu">

          <li>
            <a class="a_header" href="../../../view/accueil.html">Accueil</a>
          </li>

          <li>
            A propos de moi
            <ul class="sub-menu">
              <li><a class="a_header" href="../../../view/aboutMe/myPersonnality.html">Mes traits de personnalité</a></li>
              <li><a class="a_header" href="../../../view/aboutMe/hobbies.html">Mes centres d'intérêts,activités et loisirs</a></li>
              <li><a class="a_header" href="../../../view/aboutMe/mySkill.html">Mes compétences</a></li>
              <li><a class="a_header" href="../../../view/aboutMe/music.html">Une musique qui me représente</a></li>
            </ul>
          </li>

          <li>
            A propos de mon parcours
            <ul class="sub-menu">
              <li><a class="a_header" href="../../../view/school/mycareer.html">Mon parcours</a></li>
              <li><a class="a_header" href="../../../view/school/project_professionalExperiences.html">Mes projets et expériences professionnelles </a></li>
            </ul>
          </li>

          <li>
            <a class="a_header" href="../../../view/CV.html">Mon CV</a>
          </li>

        </ul>
      </nav>
    
    </header>

    <main class="site-content">

      <div class="contenant">

        <h1>Tutorat d'un étudiant de seconde</h1>

        <!-- Objectifs avant de travailler: -->
        
        <div>
          <h2>
            Mes objectifs avant de tutorer un élève de seconde: 
          </h2>

          <p>Essayer d’être la plus pédagogue possible afin que l’étudiant puisse progresser le plus vite et le plus efficacement possible</p>
          <p>Avoir la vision d’un professeur, me mettre à sa place</p>
          <p>Gagner en maturité</p>
          <p>Avoir des points en plus sur la moyenne</p>
            
        </div>

        <!-- Contexte  -->
        
        <div>
          <h2>
            Contexte:
          </h2>

          <p>Les professeurs venaient dans chaque classe de terminales et proposaient aux élèves ayant des facilités dans une matière en particulier, 
            de faire tutorat à des étudiants de secondes à partir du second trimestre. Ils regardent donc nos notes ainsi que celles des secondes 
            afin de choisir les groupes d’étudiants. 
            Je suis donc tombée sur un élève de seconde très gentil et enjoué mais il ne s’investissait pas et venait de moins en moins aux cours, ce que je trouvais dommage.</p>

        </div>

        <!-- Journée type  -->
        
        <div>
          <h2>
            Comment ça se passait ?
          </h2>

          <p>Soit on faisait ses devoirs</p>
          <ul class="ul_list-inside">
            <li>Je lui faisais la première équation en lui expliquant du mieux que je pouvais et il devait faire la suivante,
               qui reprenait la même technique que celle que j’avais faite</li>
            <li>S’il ne comprenait pas encore, j’essayais de lui réexpliquer avec de nouveaux mots</li>
          </ul>

          <p>Soit on révisait pour son futur contrôle</p>
          <ul class="ul_list-inside">
            <li>Il m’expliquait ce qu’il n’arrivait pas à faire et on faisait des exercices sur ça</li>
            <li>J’essayais de lui expliquer le plus simplement et le plus clairement ce qu’il fallait remarquer et analyser afin de résoudre le problème</li>
          </ul>

        </div>

        <!-- Ce que j'ai aimé -->
        
        <div>
          <h2>
            Ce que j’ai aimé:
          </h2>

          <p>Arriver à lui faire comprendre les méthodes pour réussir à faire l’exercice</p>
          <p>Me mettre à la place d’un prof afin d’essayer d’analyser la charge de travail à faire</p>
          <p>Essayer de toujours trouver de nouvelles solutions, de nouvelles façons de faire comprendre un cours, 
            un exercice à une personne qui ne pense pas de la même manière que nous</p>
          <ul class="ul_list-inside">
            <li>Par exemple, pour résoudre une équation, il y avait plusieurs manières possibles de la faire et nous n’avons pas utilisé 
              la même méthode alors que dans ma tête, il n’y en avait qu’une seule</li>
          </ul>

          <p>Avoir des moments où l’on faisait des pauses avant de recommencer</p>

        </div>

        <!-- Contraintes -->
        
        <div>
          <h2>
            Contraintes, ce que je n’ai pas aimé:
          </h2>

          <p>Au début, l’étudiant de seconde était très investi mais petit à petit, il trouvait des excuses afin de ne pas venir en cours</p>
          <ul class="ul_list-inside">
            <li>Par exemple quand il me dit qu’il est malade et que je le vois tout souriant et énergique lorsqu’on est au self</li>
          </ul>
          
          <p>Il n’y avait pas beaucoup de salles libres. Il arrivait donc qu’il y ait deux personnes dans la même salle qui fassent cours</p>
          <p>J’aurais peut-être dû être plus ferme afin qu’il vienne à toutes les séances car à cause de ma timidité, 
            je n’ai pas osé « l’obliger » à y assister alors que l’on avait qu’une séance par semaines
          </p>


        </div>

        <!-- Ce que m'a apporté ce projet -->
        
        <div>
          <h2>
            Ce que m’a apporté ce projet:
          </h2>

          <p>Se mettre à la place d’un prof et voir que la difficulté principale se trouve dans la façon de faire passer un message, la communication. 
            Car tout le monde voit les choses d’une manière différente et rien qu’un mot déclencheur leur permet de comprendre</p>

        </div>

      </div>
    </main>

    <footer class="site-footer">

      <div class="footer-content">

        <div class="div_footer"><p id="footer_text">Créé par Adèle Laurens</p> </div>

        <div class="div_footer">
            <a href="https://github.com/adele-laurens1/adele-laurens1.github.io" title= "github"><img src="../../../pictures/logo_github.png" width="30" height="30" alt="github" /></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/adele-laurens/" title= "linkedin"><img src="../../../pictures/logo_linkedin.png" width="30" height="30" alt="linkedin" /></a>
        </div>

      </div>
        
    </footer>

  </body>

</html>

